[user]
	name = Akihiro Yajima
	email = akihiroyazima@gmail.com
[core]
	excludesfile = /Users/akihiroyajima/.gitignore_global
	editor = vim
[alias]
	ad = add
	br = branch
	ci = commit
	co = checkout
	ft = fetch
	pl = pull
	ps = push
	sh = show
	st = stash
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[push]
	default = simple
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
	compactionHeuristic = true
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[commit]
	template = /Users/akihiroyajima/.stCommitMsg
