[user]
	name = akihiro yajima
	email = akihiroyazima@gmail.com
[core]
	excludesfile = /Users/ietty/.gitignore_global
  editor = vim
[merge]
  tool = p4merge
[mergetool]
  keepBackUp = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  path = p4merge
  keepTemporaries = false
  trustExitCode = false
[diff]
  tool = p4merge
[difftool "p4merge"]
  cmd = /Applications/P4V/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
[alias]
  ad = add
  br = branch
  ci = commit
  co = checkout
  ft = fetch
  pl = pull
  ps = push
  sh = show
  st = stash
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[push]
  default = simple
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
